root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space

[*.{kt, kts}]
max_line_length = 140
indent_size = 4
# Import ordering bug: https://github.com/pinterest/ktlint/issues/527
disabled_rules=import-ordering
